@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, rgb(205, 82, 205),rgb(110, 110, 202));
}
.rating-box{
    position:relative;
    background: #fff;
    padding: 25px 50px 35px;
    border-radius: 25px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}
.rating-box header{
    font-size: 22px;
    color: #000;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
}
.rating-box .stars{
    display: flex;
    align-items: center;
    gap: 25px;
}
.stars i{
    color: #e6e6e6;
    font-size: 35px;
    cursor: pointer;
    transition: color 0.2s ease;
}
.stars i.active{
    color: #ffbb00;
}